---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | SigmaKu`}>
    <Navbar></Navbar>

    <main class="container m-auto p-[1em] max-w-[175ch] z-[-1]">
        <div class="prose my-12 max-w-[120ch] mx-auto">
            <slot></slot>
        </div>
    </main>
</Layout>